<?xml version="1.0" ?>
<!--
/**
 * Copyright © tons of limes <https://github.com/tons-of-limes>. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Config\Data">
        <plugin name="tonsoflimes_admingridai_add_search_by_ai" type="TonsOfLimes\AdminGridAI\Plugin\Ui\Config\Data\AddSearchByAIPlugin"/>
    </type>
</config>
